:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: darkblue;
  padding: 200px;
}

#end-game {
  display: none;
}

#question-section {
  padding: 200px;
}

#choices {
  color: purple;
  size: 200px;
}
